<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLDonHang.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=C13\;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLDonHang.Properties.Settings.NorthwindConnectionString1"
            connectionString="Data Source=C16;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLDonHang.Properties.Settings.NorthwindConnectionString2"
            connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>